@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  background-color: #363836;
}

.container {
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: white;
}

input[type=url] {
  background-color: white !important;
  border-radius: 4px;
  width: 40%;
  height: auto;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  background-color: white !important;
  border-radius: 4px;
  color: #363836;
  width: 40%;
  height: auto;
}
